[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/SimpleEngine"]
	path = ThirdParty/SimpleEngine
	url = https://github.com/gudtldn/SimpleEngine.git
[submodule "ThirdParty/tracy"]
	path = ThirdParty/tracy
	url = https://github.com/wolfpld/tracy.git
